.chats-container{
    position: fixed;
    bottom: 64px;
    right: 64px;
    z-index: 10;
}

.chat-window{
    width: 280px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--white);
    border-radius: 16px;
    overflow: hidden;
    z-index: 10;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    transition: 250ms ease-in-out;
    display: flex;
    flex-direction: column;
}

.message-history{
    padding: 8px 16px 8px 12px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.chat-window-show{
    max-width: 280px;
    max-height: 400px;
}

.chat-window *{
    opacity: 0;
    transition: 250ms ease-in-out;
}

.chat-content{
    flex-grow: 2;
}



.chat-window-show *{
    opacity: 1;
}

.no-message{
    width: 100%;
    opacity: 0.75;
    color: var(--dark-primary);
    text-align: center;
}

.chat-toggles{
    position: fixed;
    right: 64px;
    bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extra-toggles{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.chat-toggle{
    cursor: pointer;
    width: 56px;
    height: 56px;
    object-fit: contain;
}

.pin-chat{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 48px !important;
    stroke: 1px solid var(--white);
    cursor: pointer;
}

.pin-chat path{
    stroke: var(--white);
    stroke-width: 1.5px;
    fill: rgba(255,255,255,0);
    transition: 250ms ease-in-out;
}

.pinned path{
    fill: var(--white);
}

.active-chat-toggle{
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 24px;
    border: 2px solid var(--white) ;
}

.profile-img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.message-username{
    font-size: 18px;
}

.online{
    color: var(--green);
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 2px 0 0 0;
}


.online span{
    display: block;
    height: 8px;
    width: 8px;
    background: var(--green);
    border-radius: 50%;
    content: '';
    margin-right: 8px;
}

.chat-head{
    padding: 8px 16px;
    background: #ffb031;
    height: 56px;
}

.all-messages, .chat-messages{
    height: max-content;

}

.messages-overflow{
    overflow-y: auto;
    height: 280px;
}



.chat-history-window .chat-head-info p{
    font-weight: 600;
    margin: 0 0 0 12px;
}

.message-search, .message-write{
    background: #EBEBEB;
    padding: 10px 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}



.message-search img, .message-write img{
    filter: brightness(0);
    transform-origin: center;
    transition: 250ms ease-in-out;
    display: block;
}

.message-search:focus-within img{
    transform: rotate(90deg);
}

.message-search input, .message-write input{
    background: none;
    outline: none;
    border: none;
    color: var(--dark-secondary);
    font-size: 16px;
    font-weight: 500;
}

.message-write img{
    cursor: pointer;
}

.message-write img:hover{
    transform: translate(3px, -3px);
}



.chat-head{
    position: relative;
    color: var(--white)
}

.chat-window .chat-head>img{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.message-name{
    font-size: 16px;
    margin: 0 0 2px;
    color: var(--dark-primary);
    font-weight: 500;
}



.message-content{
    color: var(--dark-secondary);
    opacity: 0.5;
    font-size: 12px;
    margin: 0;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.message-history>img{
    height: 32px;
    width: 32px;
    object-fit: cover;
    display: block;
    margin-right: 8px;
    border-radius: 50%;
}

.message-read{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #5F85DB;
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.message-history div{
    width: 80%;
}

.chat-message{
    padding: 4px 16px 4px 8px;
    box-sizing: border-box;
    max-width: 90%;
    border-radius: 4px;
    width: max-content; 
}

.chat-messages{
    padding: 16px 8px;
}

.message-sent{
    margin-left: auto;
    background: #5F85DB;
    color: var(--white);
}

.message-received{
    background: var(--dark-primary);
    color: var(--white)
}

@media screen and (max-width: 768px){
    .chat-toggles, .chats-container{
        right: 32px;
    }
}