.form{
    width: 690px;
    padding: 32px 32px 64px;
    margin: 64px auto 0;
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--dark-secondary);
}

.image-upload, .upload-content{
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-upload{
    background: #08080A;
    padding: 104px 0;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 48px;
    background-size: cover !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
}

.upload-content img{
    transition: 300ms ease-in-out;
}

.upload-content h3{
    font-size: 24px;
    margin: 16px 0 8px;
}

.upload-content p{
    opacity: 0.25;
    margin: 0;
}

.image-upload input{
    display: none;
}

.image-upload:hover .upload-content img{
    transform: translateY(-8px);
}

.input{
    color: var(--white);
    margin-bottom: 48px;
}

.category-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.category-select p{
    opacity: 0.4;

}

.category-dropdown{
    max-height: 0;
    overflow-y: hidden;
    transition: 300ms ease-in-out;
    margin-bottom: 8px;
}

.category-selected{
    opacity: 1 !important;
}

.category-dropdown p{
    padding: 8px;
    transition: 250ms ease-in-out;
    margin: 0;
    cursor: pointer;
    opacity: 0.8;
}

.category-dropdown p:hover{
    background: rgba(255,255,255,.02);
}



.category-show{
    max-height: 144px;
}


.input label{
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}

.input div span{
    width: 100%;
    background: var(--white);
    opacity: 0.3;
    height: 2px;
    border-radius: 8px;
    display: block;
    content: ''
}

.input input, .input textarea{
    padding: 12px 8px;
    color: var(--white);
    transition: 250ms ease-in-out;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
}

.input textarea{
    max-height: 196px;
    min-height: 96px;
    min-width: 100%;
    max-width: 100%;
}

.input input:focus-within{
    padding-bottom: 8px;
}

.cta{
    padding: 12px 72px;
    font-size: 24px;
    font-weight: 600;
    background: var(--green);
    border: none;
    outline: none;
    color: var(--white);
    margin-right: 32px;
}

.submit{
    display: flex;
    align-items: center;
}

.submit p{
    margin: 0;
    color: var(--white);
    opacity: 0.3;
    font-weight: 600;
    font-size: 20px;
}

.uploaded p, .uploaded img, .uploaded h3{
    opacity: 0;
}

@media screen and (max-width: 768px){
    .section-heading{
        width: max-content;
        
    }
    .section-heading h2{
        width: max-content;
        padding: 0 24px;
    }

    .form{
        width: 80%;
        margin: 48px auto 0;
    }
    .image-upload{
        padding: 72px 0;
    }
    .submit{
        flex-direction: column;
    }
    .submit input{
        margin: 0 0 24px;
    }
    .submit p{
        font-size: 16px;
    }
}

@media screen and (max-width: 480px){
    .submit input{
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
    
}